{% comment %}
  The contents of the collection.liquid template can be found in /sections/collection-template.liquid
{% endcomment %}
<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
{% section 'collection-template' %}
